<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="supertntalpha3" frontName="supertntalpha3">
            <module name="Impac_SUPERtntALPHA3" />
        </route>
        <route id="valores" frontName="valores">
            <module name="Impac_Valores" />
        </route>
    </router>
</config>