<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SimplifiedMagento\firstModule\api\Data\AffiliateMemberInterface" type="SimplifiedMagento\firstModule\Model\AffiliateMember">
    </preference>
    <preference for="SimplifiedMagento\firstModule\api\AffiliateMemberRepositoryInterface" type="SimplifiedMagento\firstModule\Model\AffiliateMemberRepository" />

    <preference for="SimplifiedMagento\firstModule\api\pencilInterface" type="SimplifiedMagento\firstModule\Model\Pencil" />
    <preference for="SimplifiedMagento\firstModule\api\Color" type="SimplifiedMagento\firstModule\Model\amarillo" />
    <preference for="SimplifiedMagento\firstModule\api\Size" type="SimplifiedMagento\firstModule\Model\grande" />
    <preference for="SimplifiedMagento\firstModule\api\brillo" type="SimplifiedMagento\firstModule\Model\alto" />

    <type name="Magento\Catalog\Model\Product">
        <plugin name="beforeSetName"
                type="SimplifiedMagento\firstModule\plugin\pluginSolution" sortOrder="10"/>
    </type>

    <virtualType name="virtualType" type="SimplifiedMagento\firstModule\Model\amarillo">
        <arguments>
            <argument name="brillo" xsi:type="object">SimplifiedMagento\firstModule\Model\alto</argument>
        </arguments>
    </virtualType>
    <type name="SimplifiedMagento\firstModule\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">virtualType</argument>
        </arguments>
    </type>
    <type name="SimplifiedMagento\firstModule\Model\student">
        <arguments>
            <argument name="age" xsi:type="number">98</argument>
            <argument name="notas" xsi:type="array">
                <item name="uwu" xsi:type="number">8</item>
                <item name="ewe" xsi:type="number">1</item>
            </argument>
        </arguments>
    </type>
</config>